* {
    font-family: Helvetica, sans;

}

pre, pre * {
    font-family: monospace;
}

main#content {
display:flex;
flex-direction:column;

}

h2,h3,h4 {font-weight: lighter;}
h1 {

    font-size:40px;
    text-align: center;
    font-weight: normal;
}


h2,h3,h4 {
        margin-bottom: 5px;

}
h2 {
    font-size:40px;
    border-bottom: 1px solid #ddd;
}

h3 {font-size:30px;}
h4 {font-size:25px;}

section {
    max-width:800px;
}

table {
    width:100%;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-collapse:collapse;
    margin:30px;
}

table th, table td {
    font-weight:normal;
    font-size:15px;
    padding:5px;
    text-align:left;
}

th {
    border-bottom:1px solid #aaa;
    background-color:#f9f7f7;
}

p {

}
